<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.pageflix">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- Location permissions -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PageFlix"
        tools:targetApi="31">
        <activity
            android:name=".adapter_block_item"
            android:exported="false" />
        <activity
            android:name=".activities.blocked_list"
            android:exported="false" /> <!-- Add your Google Maps API key here -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCvD9cc_MS9Jkef4X12a8KsCHb7kDfXAa4" />

        <activity
            android:name=".activities.MapActivity"
            android:exported="false" />
        <activity
            android:name=".activities.customerMy_Books.bookReview"
            android:exported="false" />
        <activity
            android:name=".activities.borrowedBooks.showUser_fromRentsList"
            android:exported="false" />
        <activity
            android:name=".activities.borrowedBooks.list_ordered_books"
            android:exported="false" />
        <activity
            android:name=".activities.customerMy_Books.customerBooks"
            android:exported="false" />
        <activity
            android:name=".activities.history.historyLibrary"
            android:exported="false" />
        <activity
            android:name=".activities.history.historyCustomer"
            android:exported="false" />
        <activity
            android:name=".activities.SearchBooks$customeListrBooks"
            android:exported="false"
            android:label="@string/title_activity_custome_listr_books"
            android:theme="@style/Theme.PageFlix.NoActionBar" />
        <activity
            android:name=".activities.Update_Customer_Profile"
            android:exported="false" />
        <activity
            android:name=".activities.SearchBooks"
            android:exported="false" />
        <activity
            android:name=".activities.Update_Librarian_Profile"
            android:label="Update Librarian Profile" />
        <activity
            android:name=".activities.BookPopupActivity"
            android:label="BookPopupActivity" />
        <activity
            android:name=".activities.screenRemoveBook"
            android:exported="false" />
        <activity
            android:name=".activities.inStockScreen"
            android:exported="false" />
        <activity
            android:name=".activities.addBook.screenAddBookINFO"
            android:exported="false" />
        <activity
            android:name=".activities.addBook.screenAddBook"
            android:exported="false" />
        <activity
            android:name=".activities.main.mainLibrarian"
            android:exported="false" />
        <activity
            android:name=".activities.main.mainCustomer"
            android:exported="false" />
        <activity
            android:name=".activities.registerLibrarian"
            android:exported="false" />
        <activity
            android:name=".activities.registerCustomer"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activities.LoginLibrarian"
            android:exported="false" />
        <activity
            android:name=".activities.login.LoginCustomer"
            android:exported="false" />
        <activity
            android:name=".activities.FirstScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>