<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PageFlix"
        tools:targetApi="31">
        <activity
            android:name=".activities.historyLibrary"
            android:exported="false" />
        <activity
            android:name=".activities.historyCustomer"
            android:exported="false" />
        <activity
            android:name=".activities.SearchBooks$customeListrBooks"
            android:exported="false"
            android:label="@string/title_activity_custome_listr_books"
            android:theme="@style/Theme.PageFlix.NoActionBar" />
        <activity
            android:name=".activities.Update_Customer_Profile"
            android:exported="false" />
        <activity
            android:name=".activities.SearchBooks"
            android:exported="false" />
        <activity
            android:name=".activities.Update_Librarian_Profile"
            android:label="Update Librarian Profile" />
        <activity
            android:name=".activities.BookPopupActivity"
            android:label="BookPopupActivity" />
        <activity
            android:name=".activities.screenRemoveBook"
            android:exported="false" />
        <activity
            android:name=".activities.inStockScreen"
            android:exported="false" />
        <activity
            android:name=".addBook.screenAddBookINFO"
            android:exported="false" />
        <activity
            android:name=".addBook.screenAddBook"
            android:exported="false" />
        <activity
            android:name=".activities.mainLibrarian"
            android:exported="false" />
        <activity
            android:name=".activities.mainCustomer"
            android:exported="false" />
        <activity
            android:name=".activities.registerLibrarian"
            android:exported="false" />
        <activity
            android:name=".activities.registerCustomer"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activities.LoginLibrarian"
            android:exported="false" />
        <activity
            android:name=".activities.LoginCustomer"
            android:exported="false" />
        <activity
            android:name=".activities.FirstScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>