<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PageFlix"
        tools:targetApi="31">
        <activity
            android:name=".screenRemoveBook"
            android:exported="false" />
        <activity
            android:name=".inStockScreen"
            android:exported="false" />
        <activity
            android:name=".screenAddBookINFO"
            android:exported="false" />
        <activity
            android:name=".screenAddBook"
            android:exported="false" />
        <activity
            android:name=".mainLibrarian"
            android:exported="false" />
        <activity
            android:name=".mainCustomer"
            android:exported="false" />
        <activity
            android:name=".registerLibrarian"
            android:exported="false" />
        <activity
            android:name=".registerCustomer"
            android:exported="false" />
        <activity
            android:name=".LoginLibrarian"
            android:exported="false" />
        <activity
            android:name=".LoginCustomer"
            android:exported="false" />
        <activity
            android:name=".FirstScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>